.resize-animation-stopper * {
  animation: none !important; }
  .resize-animation-stopper * .orb-image {
    display: none; }

.graph-paper {
  background-repeat: repeat;
  background-position-x: center;
  background-size: Min(calc(100vw * 1 / 9), 112px) auto; }

body {
  background-color: white;
  overflow-x: hidden;
  width: 100%; }

header, section {
  width: 100%; }

header {
  background-image: url("../images/graph-paper-blue.png");
  position: relative; }
  header .social {
    position: absolute;
    top: Min(20px, 2vw);
    right: Min(20px, 2vw);
    max-height: 40px;
    min-height: 20px;
    height: 4vw; }
  header .contents {
    padding: Min(calc(100vw * 0.5 / 9), 56px) Min(calc(100vw * 1 / 9), 112px); }
  header h1 {
    font-family: "Permanent Marker", cursive;
    text-align: center;
    font-size: Min(calc(100vw * 0.82 / 9), 91.84px);
    margin: 0;
    margin-bottom: Min(calc(100vw * 0.4 / 9), 44.8px); }
  header #gravity-image {
    max-width: 784px;
    margin: auto; }
  header p {
    font-family: "Nothing You Could Do", cursive;
    text-align: center;
    font-size: Max(21px, Min(calc(100vw * 0.315 / 9), 35.28px));
    font-weight: bold;
    margin: Min(calc(100vw * 0.35 / 9), 39.2px); }
  header a.download {
    display: block;
    margin: auto;
    width: Min(calc(100vw * 2 / 9), 224px);
    min-width: 120px; }
    header a.download img {
      width: 100%;
      height: auto; }
  @media only screen and (max-width: 600px) {
    header div.contents {
      padding-top: 15px; }
    header .social {
      position: relative;
      top: 0;
      right: 0;
      text-align: right;
      margin-bottom: 15px; } }

.arrows, .arrows-fixed {
  height: calc(100% + Min(calc(100vw * 0.9 / 9), 100.8px));
  width: 100%;
  position: absolute;
  background-image: url("../images/arrow-mutable.svg");
  background-repeat: repeat;
  background-position-x: center;
  background-size: calc(Min(calc(100vw * 0.9 / 9), 100.8px) / 2);
  z-index: -10;
  animation: arrow-down 0.9s linear 0s infinite normal; }

.arrows-cover, .arrows-cover-fixed {
  width: 100%;
  height: Min(calc(100vw * 0.9 / 9), 100.8px);
  position: absolute;
  top: calc(-1 * Min(calc(100vw * 0.9 / 9), 100.8px));
  left: 0;
  background-color: white;
  z-index: -5; }

.arrows-cover-fixed {
  height: 100%;
  width: Min(calc(100vw * 0.9 / 9), 100.8px);
  top: 0;
  left: calc(-1 * Min(calc(100vw * 0.9 / 9), 100.8px)); }

.arrows-fixed {
  height: 100%;
  width: calc(100% + Min(calc(100vw * 0.9 / 9), 100.8px));
  background-position-x: 0%;
  background-position-y: center;
  background-size: auto calc(Min(calc(100vw * 0.9 / 9), 100.8px) / 2);
  animation-name: arrow-right;
  background-image: url("../images/arrow-fixed.svg"); }

@keyframes arrow-down {
  from {
    transform: translateY(calc(-1 * Min(calc(100vw * 0.9 / 9), 100.8px))); }
  to {
    transform: translateY(0); } }

@keyframes arrow-right {
  from {
    transform: translateX(calc(-1 * Min(calc(100vw * 0.9 / 9), 100.8px))); }
  to {
    transform: translateX(0); } }

#fixed-field {
  background-color: #b9b9b9;
  height: Min(calc(100vw * 1.3 / 9), 145.6px);
  position: relative;
  z-index: 0;
  overflow-x: hidden; }
  #fixed-field .boundary:last-child {
    bottom: 0; }
  #fixed-field .orb {
    height: Min(calc(100vw * 1 / 9), 112px);
    width: Min(calc(100vw * 1 / 9), 112px);
    position: absolute;
    top: Min(calc(100vw * 0.15 / 9), 16.8px);
    animation: orb-left-to-right 3s ease-in 0s infinite normal; }
    #fixed-field .orb .orb-image {
      width: 100%;
      height: 100%;
      background-image: url("../images/orbs/red-orb-grey.svg");
      background-size: cover;
      animation: orb-colour-change 15s step-end 0s infinite normal; }

@keyframes orb-left-to-right {
  from {
    transform: translateX(Min(calc(100vw * -1.01 / 9), -113.12px)); }
  to {
    transform: translateX(calc(100vw + Min(calc(100vw * 1.01 / 9), 113.12px))); } }

@keyframes orb-colour-change {
  0% {
    background-image: url("../images/orbs/red-orb-grey.svg"); }
  20% {
    background-image: url("../images/orbs/blue-orb-grey.svg"); }
  40% {
    background-image: url("../images/orbs/green-orb-grey.svg"); }
  60% {
    background-image: url("../images/orbs/orange-orb-grey.svg"); }
  80% {
    background-image: url("../images/orbs/purple-orb-grey.svg"); } }

.boundary {
  background-image: url("../images/boundary.svg");
  background-repeat: repeat-x;
  background-size: auto Min(calc(100vw * 0.05 / 9), 5.6px);
  position: absolute;
  width: 100%;
  height: Min(calc(100vw * 0.05 / 9), 5.6px); }

h2 {
  font-family: "Permanent Marker", cursive;
  font-size: Max(30px, Min(calc(100vw * 0.45 / 9), 50.4px));
  text-align: center;
  margin-top: 0; }

a, p {
  font-family: "Nothing You Could Do", cursive;
  text-align: center;
  font-size: Max(20px, Min(calc(100vw * 0.25 / 9), 28px)); }

h3 {
  font-family: "Permanent Marker", cursive;
  font-size: Max(20px, Min(calc(100vw * 0.3 / 9), 33.6px));
  margin-top: 0; }

#iPhone {
  margin: auto;
  width: Min(calc(100vw * 3.5 / 9), 392px);
  min-width: Min(300px, 79vw);
  height: Min(calc(100vw * 7.02358 / 9), 786.64151px);
  min-height: Min(602.02156px, 158.53235vw);
  position: relative;
  margin-bottom: Min(calc(100vw * 0.5 / 9), 56px); }
  #iPhone::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    background-image: url("../images/iPhone.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    transition: opacity 0.5s; }
  #iPhone:hover::after, #iPhone:focus::after {
    opacity: 0; }
  #iPhone #video-container {
    margin: auto;
    width: 87%;
    position: absolute;
    z-index: 5;
    display: block;
    top: 3.3%;
    left: 6.7%; }
  #iPhone video {
    border-radius: 10% / 4.98321%;
    outline: none; }

section .container {
  padding: Min(calc(100vw * 0.5 / 9), 56px) 0 Min(calc(100vw * 1 / 9), 112px) 0;
  max-width: 70%;
  margin: auto;
  text-align: center; }

section#about {
  background-image: url("../images/graph-paper-green.png"); }
  section#about p:last-of-type {
    font-size: Max(24px, Min(calc(100vw * 0.35 / 9), 39.2px)); }
  section#about #screenshots {
    display: flex;
    align-items: flex-start;
    min-width: Min(300px, 79vw); }
  section#about .footer-orbs {
    height: Min(calc(100vw * 1 / 9), 112px);
    background-image: url("../images/footer-orbs.svg");
    background-repeat: repeat-x;
    background-size: auto Min(calc(100vw * 1 / 9), 112px);
    background-position-x: center; }

section#about .about-text {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto Min(40%, 450px);
  column-gap: Min(calc(100vw * 0.5 / 9), 56px);
  row-gap: Min(calc(100vw * 0.4 / 9), 44.8px);
  grid-template-areas: "line1 line1" "line2 screenshot" "line3 screenshot" "line4 screenshot" "line5 screenshot"; }
  @media only screen and (min-width: 801px) {
    section#about .about-text p:last-of-type {
      margin-bottom: 0; } }
  section#about .about-text p:nth-child(1) {
    grid-area: line1; }
  section#about .about-text p:nth-child(2) {
    grid-area: line2; }
  section#about .about-text p:nth-child(3) {
    grid-area: line3; }
  section#about .about-text p:nth-child(4) {
    grid-area: line4; }
  section#about .about-text p:nth-child(5) {
    grid-area: line5; }
  section#about .about-text p {
    margin: 0; }
  section#about .about-text #screenshots {
    grid-area: screenshot; }
  @media only screen and (max-width: 1650px) {
    section#about .about-text {
      grid-template-areas: "line1 line1" "line2 screenshot" "line3 screenshot" "line4 screenshot" "line5 line5"; }
      section#about .about-text #screenshots {
        align-items: center; } }
  @media only screen and (max-width: 1350px) {
    section#about .about-text {
      grid-template-areas: "line1 line1" "line2 line2" "line3 screenshot" "line4 screenshot" "line5 line5"; } }
  @media only screen and (max-width: 800px) {
    section#about .about-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 0; }
      section#about .about-text p {
        margin-bottom: Max(Min(calc(100vw * 0.4 / 9), 44.8px), 20px); }
      section#about .about-text #screenshots {
        width: Min(calc(100vw * 3.5 / 9), 392px);
        margin-top: 20px; } }

footer {
  background-image: url("../images/footer-blocks.png");
  background-position-x: center;
  background-repeat: repeat;
  background-size: Min(calc(100vw * 5.5 / 9), 616px);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  footer div {
    margin: Min(calc(100vw * 0.4 / 9), 44.8px);
    text-align: center; }
  footer h3 {
    font-family: "Nothing You Could Do", cursive;
    margin-bottom: 5px; }
  footer a, footer p {
    font-family: "Permanent Marker", cursive; }
  footer a {
    font-size: Max(14px, Min(calc(100vw * 0.22 / 9), 24.64px));
    color: white;
    text-decoration: underline; }
  footer a:hover, footer a:focus {
    text-decoration: none; }
  footer .smallprint {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    footer .smallprint a {
      font-family: "Nothing You Could Do", cursive; }
    footer .smallprint small:first-of-type {
      margin-bottom: 20px; }
  footer small {
    font-family: "Nothing You Could Do", cursive;
    font-size: Max(14px, Min(calc(100vw * 0.22 / 9), 24.64px)); }
  footer .before-apostrophe {
    letter-spacing: 2px; }

@media only screen and (max-width: 650px) {
  .graph-paper {
    background-size: calc(13vw * 1) auto; }
  header .contents {
    padding: calc(13vw * 0.35); }
  header h1 {
    font-size: calc(13vw * 0.82);
    margin-bottom: calc(13vw * 0.4); }
  header p {
    margin: calc(13vw * 0.35); }
  header a {
    width: calc(13vw * 2); }
  .arrows, .arrows-fixed {
    height: calc(100% + calc(13vw * 0.9));
    background-size: calc(calc(13vw * 0.9) / 2);
    animation-name: min-arrow-down; }
  .arrows-cover, .arrows-cover-fixed {
    height: calc(13vw * 0.9);
    top: calc(-1 * calc(13vw * 0.9)); }
  .arrows-cover-fixed {
    width: calc(13vw * 0.9);
    left: calc(-1 * calc(13vw * 0.9)); }
  .arrows-fixed {
    height: 100%;
    width: calc(100% + calc(13vw * 0.9));
    background-size: auto calc(calc(13vw * 0.9) / 2);
    animation-name: min-arrow-right; }
  @keyframes min-arrow-down {
    from {
      transform: translateY(calc(-1 * calc(13vw * 0.9))); }
    to {
      transform: translateY(0); } }
  @keyframes min-arrow-right {
    from {
      transform: translateX(calc(-1 * calc(13vw * 0.9))); }
    to {
      transform: translateX(0); } }
  #fixed-field {
    height: calc(13vw * 1.3); }
    #fixed-field .orb {
      height: calc(13vw * 1);
      width: calc(13vw * 1);
      top: calc(13vw * 0.15);
      animation-name: min-orb-left-to-right;
      animation-duration: 2s; }
      #fixed-field .orb .orb-image {
        animation-duration: 10s; }
  @keyframes min-orb-left-to-right {
    from {
      transform: translateX(calc(13vw * -1.01)); }
    to {
      transform: translateX(calc(100vw + calc(13vw * 1.01))); } }
  .boundary {
    background-size: auto calc(13vw * 0.05);
    height: calc(13vw * 0.05); }
  #iPhone {
    margin-bottom: calc(13vw * 0.5); }
    #iPhone #video-container {
      margin: auto; }
  section .container {
    padding: calc(13vw * 0.5) calc(13vw * 0.8) calc(13vw * 1) calc(13vw * 0.8);
    max-width: 100%; }
  section#about .footer-orbs {
    height: calc(13vw * 1);
    background-size: auto calc(13vw * 1); }
  section#about #screenshots {
    width: calc(13vw * 3.5); }
  footer {
    background-size: calc(13vw * 5.5); }
    footer div {
      margin: calc(13vw * 0.4); } }

/*
Colours:

Arrow in mutable: 153, 153, 153, 31
Arrow in fixed: 200, 200, 200, 255
*/
header p {
  margin-bottom: 0; }
